body {
  text-align: center;
  background-image: url("../pics/abstract.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}



.background{
 height: 100vh;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}

.background .artheader{
  flex:1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0;
}




.aboutme{
  display: flex;
  align-items:center;
  text-align: center;
  flex-direction: column;
  justify-content:flex-start;
  margin: 0;
  flex:1;
}

.container-top{
  width: 70%;
  display: flex;
  justify-content: center; 
}

.bild-container-selbst{
  margin:0;
}

.bild-container-selbst2{
  width: auto;
  display: flex;
  justify-content:center;
  align-items: center;
  
}

.bild-selbst{
  position: relative;
  width: 100%;
  
}

.aboutmetext{
  max-width: 50%;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 2rem;
  background-color: whitesmoke;
  border-radius: 1%;
}


.artheader{
  padding: 2rem;
  color: white;  
  text-shadow: 0 0 2rem black ;

 
}


.artheader2{
  position: relative;
  margin-top: 8rem;
  z-index: 1;
}

.artheader2::before{
  content: "";
  position: absolute;
  top: -8rem;
  left: 0;
  right: 0;
  height: 8rem;
  background-color: black;
  z-index: 0;
}

.art{
  margin: 0;
  padding: 0;
}


.middle-column, .side-column{
  background: linear-gradient(to bottom, white, black);
  padding-right: calc(var(--bs-gutter-x)* .5);
  padding-bottom: calc(var(--bs-gutter-x)* .5);
  
}


.bild-container{
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  z-index: 2;
  margin: 0;
}

.vase{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;

}

.booty{
  width: 100%;

}

.flower{
  position: absolute;
  top: -22%;
  left: 1%;
  width: 90%;
  height: auto;
  z-index: 2;
  clip-path: inset(100% 0 0 0);
  transition: clip-path 3s;
}

.booty:hover{
  cursor: pointer;
}

.flower.show{
  clip-path: inset(0 0 0 0);
}


.ball{
  position: absolute;
    top:50%;
    left: -1.5rem;
    width: 1.5rem;
    animation: flyBall 2s ease-in-out forwards;
}

.ball2{
  position: absolute;
    top:50%;
    left: 30%;
    width: 1.5rem;
    cursor: pointer;
}

.ball3{
  position: absolute;
    top:60%;
    left: 65%;
    width: 1.5rem;
}


@keyframes flyBall {
  0% {
      top:50%;
      left: -1.5rem;
      transform: translateX(-50%) translateY(0);
  }
  50% {
      top:25%;
      left: 20%;
      transform: translateX(-50%) translateY(-50%);
  }
  99%{
    opacity: 0.9;
  }

  100% {
      top: 38%;
      left: 28%;
      transform: translateX(-50%) translateY(-100%);
      opacity: 0;
  }
}

@keyframes flyBall2{
  0% {
    top:50%;
    left: 30%;
    width: 1.5rem;
}
50% {
    top:20%;
    left: 40%;
    transform: translateX(-50%) translateY(-50%);
}
99%{
  opacity: 0.9;
}

100% {
    top: 38%;
    left: 45%;
    transform: translateX(-50%) translateY(-100%);
    opacity: 0;
}
}



.nobball{
  position: absolute;
    top:50%;
    left: -2rem;
    width: 2rem;
    animation: flynobBall 2s ease-in-out forwards;
}

.nobball2{
  position: absolute;
    top:50%;
    left: 30%;
    width: 2rem;
    cursor: pointer;
}

.nobball3{
  position: absolute;
    top: 45%;
    left: 85%;
    width: 2rem;
    cursor: pointer;
}



@keyframes flynobBall {
  0% {
      top:50%;
      left: -1.5rem;
      transform: translateX(-50%) translateY(0);
  }

  25%{
    transform: rotate(360deg);
  }

  50% {
      top:20%;
      left: 10%;
      transform: translateX(-50%) translateY(-50%);
      transform: rotate(0deg);
  }
  99%{
    opacity: 0.9;
  }

  100% {
      top: 32%;
      left: 18%;
      transform: translateX(-50%) translateY(-100%);
      transform: rotate(360deg);
      opacity: 0;
  }
}

@keyframes flynobBall2{
  0% {
    top:50%;
    left: 30%;
}

25%{
  transform: rotate(360deg);
}
50% {
    top:20%;
    left: 40%;
    transform: translateX(-50%) translateY(-50%);
    transform: rotate(0deg);
}

75%{
  transform: rotate(360deg);
}
99%{
  opacity: 0.9;
}

100% {
    top: 32%;
    left: 48%;
    transform: translateX(-50%) translateY(-100%);
    transform: rotate(0deg);
    opacity: 0;
}
}

@keyframes flynobBall3{
  0% {
    top: 45%;
    left: 85%;
}
25%{
  transform: rotate(-360deg);
}
50% {
    top: 2%;
    left: 55%;
    transform: translateX(-50%) translateY(-50%);
    transform: rotate(0deg);
}

75%{
  transform: rotate(-360deg);
}


99%{
  opacity: 0.9;
}



100% {
    top: 12%;
    left: 45%;
    transform: translateX(-50%) translateY(-100%);
    transform: rotate(0deg);
    opacity: 0;
}
}




.vogel-container, .pokemon-container {
  padding-bottom: calc(var(--bs-gutter-x)* .5);
  padding-top: calc(var(--bs-gutter-x)* .5);
  background: linear-gradient(to bottom, white, grey);
}

.hand-container, .frog-container{
  position: relative;
  width: 100%;
}

.hand-container{
  overflow: visible;
  height: 2rem;
}

.frog-container{
  overflow: hidden;
  height: auto;
  padding-bottom: 0;
}

.frog-image{
  width: 100%;
  height: auto;
  transition: opacity 0.5s ease;
}

.frog-container:hover .frog-image{
  opacity: 0;
}

.frog-container:hover::after{
  content: '';
  background-image: url('../pics/frog-dark-0.jpg');
  background-size: cover;
  background-position: center;
  position: absolute;

  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  }

 
  .container-carousel{
    justify-content: center;
    align-items: center;
    padding: 0;
    padding-top: calc(var(--bs-gutter-x)* .5);
    padding-bottom: calc(var(--bs-gutter-x)* .5);
    background: linear-gradient(to bottom, white, rgb(75,75,75));
  }

  .rotate-img {
    padding: calc(var(--bs-gutter-x)* .5);
    background-color: linear-gradient(to bottom, rgb(71,71,71), black);
    height: auto;
    position: absolute;
    top:35px;
    left: 50%;
    transform: translateX(-50%) rotate(-45deg) scale(0.707);
  }









/*# sourceMappingURL=mainstyle.css.map */
