.abstract {
  text-align: center;
  background-image: url("../pics/abstract.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


.start {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  
}

.artheader {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0;
}

.aboutheader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.test {
  display: flex;
}


.aboutme {
  display: flex;
  align-items: stretch;
  text-align: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex: 1;
  flex-wrap: wrap;

}

.container-top {
  display: flex;
  justify-content: center;
}


.aboutmetext {
  flex: 2;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 2rem;
  justify-content: center;
}

.header {
  text-shadow: 0.2rem 0.2rem #1F2937;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 2;
}


.artheader {
  padding: 2rem;
  clip-path: polygon(0, 100% 0, 85% 100%, 15% 100%);
}

.artheader p {
  font-size: 1.5rem;
}

.icon-down {
  cursor: pointer;
  color: white;
}

.artheader2 {
  position: relative;
  padding: 2rem;
  margin-top: 8rem;
  z-index: 1;
}

.artheader2::before {
  content: "";
  position: absolute;
  top: -8rem;
  left: 0;
  right: 0;
  height: 8rem;
  background-color: #0D9488;
  z-index: 0;
}

.art {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #0D9488, #064E3B);
}

.verlauf {
  background: linear-gradient(to bottom, #0D9488, #064E3B);
}

.art2container {
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, #FFF, #0D9488);
}

.art2 {
  max-width: 70%;
  display: flex;
  justify-content: center;
  margin-bottom: -8%;
}

.bottom {
  width: 70%;
  display: flex;
  justify-content: center;
}



.middle-column,
.side-column {
  /*
  background: linear-gradient(45deg, #0D9488, transparent 50%),
    linear-gradient(-45deg, #1F2937, transparent 50%);*/
  padding-right: calc(var(--bs-gutter-x)* .5);
  padding-bottom: calc(var(--bs-gutter-x)* .5);

}




.bild-container {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  z-index: 2;
  margin: 0;
}



.vogel-container,
.pokemon-container {
  padding-bottom: calc(var(--bs-gutter-x)* .5);
  padding-top: calc(var(--bs-gutter-x)* .5);
}

.hand-container,
.frog-container {
  position: relative;
  width: 100%;
}

.hand-container {
  overflow: visible;

}

.rotate-img {
  padding: calc(var(--bs-gutter-x)* .5);
  height: auto;
  transform: rotate(-45deg) scale(0.707);
}

.frog-container {
  overflow: hidden;
  height: auto;
  padding-bottom: 0;
}

.frog-image {
  width: 100%;
  height: auto;
  transition: opacity 0.5s ease;
}

.frog-container:hover .frog-image {
  opacity: 0;
}

.frog-container:hover::after {
  content: '';
  background-image: url('../pics/frog-dark-0.jpg');
  background-size: cover;
  background-position: center;
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}


.container-carousel {
  justify-content: center;
  align-items: center;
  padding: calc(var(--bs-gutter-x)* .5) 0;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 4rem;
  height: 4rem;
}

.carousel-indicators {
  margin-bottom: 2rem;
}

.carousel-indicators [data-bs-target] {
  opacity: 1;
}

.carousel-indicators .active {
  background-color: #0D9488;
}






.vase {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vase.animate {
  animation: wiggle 1s;
  animation-iteration-count: 5;
}

@keyframes wiggle {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  25% {
    transform: translate(-50%, -50%) rotate(3deg);
  }

  50% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  75% {
    transform: translate(-50%, -50%) rotate(-3deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

.booty {
  width: 100%;

}

.flower {
  position: absolute;
  top: -22%;
  left: 7%;
  width: 76%;
  height: auto;
  z-index: 2;

  clip-path: polygon(0 0, 100% 0, 100% 71%, 80% 78%,
      75% 65%, 66% 66%, 65% 63%, 50% 63%, 0% 60%);

  transition: transform 4s ease-in-out;
  /* Transition für die Transformationsänderungen */
  transform-origin: center;
  /* Setzt den Ursprung der Transformation in die Mitte */
  opacity: 0;
  /* Startet das Bild unsichtbar */
  cursor: pointer;
}


.flower.show {
  opacity: 1;
  animation: grow 2s ease-in-out;
}

@keyframes grow {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.net {
  position: absolute;
  content: "";
  background-color: transparent;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  clip-path: polygon(0% 0%, 101.83% 0%, 101.7% 100.07%, -2.54% 100.17%, 24.67% 33.92%, 24.8% 28%, 21.2% 27.79%, 12% 28%, 11.43% 34.44%, 61.48% 35.42%, 51.13% 8.88%, 42% 8.5%, 39.4% 16.55%, 54.32% 16%, 53.55% 13.86%, 59.92% 27.86%, 42.91% 27.93%, 0.42% 100.92%);
}


.nobball {
  position: absolute;
  top: 50%;
  left: -2rem;
  width: 6%;

}

.nobball.animate {
  animation: flynobBall 2s ease-in-out forwards;
}

.nobball2 {
  position: absolute;
  top: 50%;
  left: 30%;
  width: 6%;
  cursor: pointer;
}

.nobball3 {
  position: absolute;
  top: 45%;
  left: 85%;
  width: 6%;
  cursor: pointer;
}



@keyframes flynobBall {
  0% {
    top: 50%;
    left: -1.5rem;
    transform: translateX(-50%) translateY(0);
  }

  25% {
    transform: rotate(360deg);
  }

  50% {
    top: 20%;
    left: 10%;
    transform: translateX(-50%) translateY(-50%);
    transform: rotate(0deg);
  }

  99% {
    opacity: 0.9;
  }

  100% {
    top: 32%;
    left: 18%;
    transform: translateX(-50%) translateY(-100%);
    transform: rotate(360deg);
    opacity: 0;
  }
}

@keyframes flynobBall2 {
  0% {
    top: 50%;
    left: 30%;
  }

  25% {
    transform: rotate(360deg);
  }

  50% {
    top: 20%;
    left: 40%;
    transform: translateX(-50%) translateY(-50%);
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(360deg);
  }

  99% {
    opacity: 0.9;
  }

  100% {
    top: 32%;
    left: 48%;
    transform: translateX(-50%) translateY(-100%);
    transform: rotate(0deg);
    opacity: 0;
  }
}

@keyframes flynobBall3 {
  0% {
    top: 45%;
    left: 85%;
  }

  25% {
    transform: rotate(-360deg);
  }

  50% {
    top: 2%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-360deg);
  }


  99% {
    opacity: 0.9;
  }



  100% {
    top: 10%;
    left: 42%;
    transform: translateX(-50%) translateY(-100%);
    transform: rotate(0deg);
    opacity: 0;
  }
}







@media (max-width: 768px) {

  .aboutmetext {
   flex-basis: 100%;

  }

  .aboutheader{
    padding: 2rem 0rem;
  }

  .container-top {
    width: 100%;
  }

  .art2 {
    max-width: 100%;
  }

  .start {
    height: fit-content;
  }

  .oswald h1 {
    font-size: 2rem;
  }


}




/*# sourceMappingURL=mainstyle.css.map */