body{
  background-color: whitesmoke;
}


ul{
  list-style-type: none;
}


h3 {
  text-align: center;
}


.section-header{
  width: 100%;
}


.col-md-auto{
  margin: 2rem;
}


.background-fade{
  background-image: url(../pics/handpaint2.2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position:top;
  position: relative;
}


.topbar-container, .topbar2-container, .selfimg-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


.topbar-container{
  padding: 0;
  min-height: 90vh;
  box-sizing: border-box;
  animation-delay:0s;
}


.topbar2-container{
  max-width: 80%;
  background-color: white;
  box-sizing: border-box;   
  margin: 0; 
}


.selfimg-container {
  max-width: 80%;  
  padding: 2rem;
}


.selfimg{
  position: relative;
  max-width: 80%;
  border-radius: 50%;
}


.shortprofile-container{
  margin: 1rem;
}


.shortprofile-container p{
  margin: 0;
}


.aboutme{
  max-width: 95%;
  max-height: 100%;
  box-sizing: border-box;
  text-align: justify;
  text-align-last: center;
}


.topbar-container, .background{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}


.background{
  opacity: 0.5;
  transition: opacity 0.5s ease-out;
  z-index: 1;
  position: relative;
  color: white;
  align-items: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.background-t{
  opacity: 1;
  transition: opacity 0.5s ease-out;
}


.background-k{
  opacity: 0;
  transition: opacity 0.5s ease-out;
}


.skills-container, .skills{
  display: flex;
  justify-content:  center;
  
}
  

.skills-container-d {
  height: 80%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-sizing: border-box;
  opacity: 1;
  position: relative;
  z-index: 20;
  width: 100%;
}


.skills-container .row, .skills-container .row-d{
  padding-bottom: 0.5rem;
  flex-wrap: wrap;
  box-sizing: border-box;
}


.skills h6{
  word-wrap: break-word;
  hyphens: auto;
  max-width: 100%;
}


.progress{
  --bs-progress-bg: none;
  --bs-progress-border-radius: 0%;
  box-sizing: border-box;
  width: 100%;
}


.progress-bar {
  width: 0%;
  opacity: 0;
  transform: translateY(0);
  transition: width 1s ease-out, opacity 0.6s ease-out, transform 0.6s ease-out;
  box-sizing: border-box;
  background-color: #064E3B;
}


.progress-bar.show{
  opacity: 1;
}


.percentage {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}


.table > :not(caption) > * > * {
  background-color: transparent;
}


.date {
  padding: 0;
  color:#F87171;
}


.timelines, .timelines-content{
  position: relative;
}


.timeline {
  position: relative;
  max-width: 80rem;
  margin: 0 auto;
}


.timeline::after {
  content: '';
  position: absolute;
  width: 0.2rem;
  background-color: #F87171;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: 0;
}


.timeline-item {
  padding: 0.5rem 2rem;
  position: relative;
  background-color: transparent;
  width: 50%;
  opacity: 0;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}


.timeline-item.show{
  opacity: 1;
  transform: translateY(50);
}

.timeline-item-left {
  left: 0;
}


.timeline-item-right {
  left: 50%;
}


.timeline-item-left::after,
.timeline-item-right::before {
  content: '';
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: #F87171;
  top: 2rem;
  border-radius: 50%;
  z-index: 1;
}


.timeline-item-left::after {
  right: -0.6rem;
}


.timeline-item-right::before {
  left: -0.4rem;
}


.timeline-item-content {
  padding: 1rem;
  position: relative;
}


.nobottom{
  margin-bottom: 0;
}


.notop{
  margin-top: 0;
}


.download-container{
  position: relative;
  display: inline-block;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.download-icon {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 0.75rem;
  margin-bottom: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0.6rem white; 
}


.download-icon a {
  color: white;
  text-decoration: none;
}


.contactformbackground{
  background-image: url(../pics/handpaint2.2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position:center;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}


.contactformbackground2{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: calc(var(--bs-gutter-x)* 2);
  flex-direction: column;
  justify-content: space-around;
}


.contactform1{
  width: 60vw;
  color: #111827;
}


.contactform2{
  margin: calc(var(--bs-gutter-x)* .5);
  background-color: white;
  display: flex;
  align-items: stretch;
  height: auto;
}


.contactinfo, .contactinput{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 2rem;
}


.contactinfo{
  flex: 1;
}


.skills-container-s {
  display: none;
}


@media (max-width: 768px){

  .skills-container {
    margin: 0 1rem; 
    height: auto; 
  }


  .skills-container .row {
    flex-direction: column;
  }


  .skills-container .skills, .skills-container .percentage {
    text-align: center;
  }


  .topbar2-container{
    max-width: 90%;
    margin: 6rem 0rem;
  }
 

  .contactformbackground2{
    padding: calc(var(--bs-gutter-x)* 0.5);
  }
  

  .contactform1{
    width: 100%;
    padding: 6rem 0rem;
  }


  .contactform2{
    margin: 0;
  }


  .contactinfo{
    padding: 2rem 1rem;
    flex: auto;
  }


  .contactinput{
    padding: 2rem;
  }
  

  .skills-container-d{
    display: none;
  }


  .skills-container-s{
    display: inline-block;
    width: 100%;
    flex-grow: 1;
  }


  .skills-container-s .row-s{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }


  .skills-container-s .skills{
    justify-content: start;
    font-size: smaller;
  }


  .skills-container-s .headline{
    justify-content: center;
  }


  .percentage{
    padding: 0;
    font-size: small;
  }


  .timeline-item{
    padding: 0.5rem;
    box-sizing: border-box;
  }


  .timeline-item-content{
    padding: 0;
    font-size: small;
    box-sizing: border-box;
  }


  .timeline-item-content h6{
    font-size: 0.8rem;
  }


  .timeline-item-content h5{
    font-size: 1rem;
  }


  .topbar-container{
    font-size: smaller;
  }


  h4{
    font-size: 1.25rem;
  }


  .aboutme{
    margin: 0;
  }
  
}


