@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
}

.oswald h1{
  font-size: 5rem;
  font-weight: 400;
}

.oswald h2{
  font-size: 2.5rem;
  font-weight: 400;
}

h1,h2,h3,h4,h5,h6{
  font-family: "Oswald", sans-serif;
}


body{
  background-color: #FFFFFF;
  color: #111827;
}

.btn-primary{
  background-color: #0D9488;
  --bs-btn-border-color: #0D9488;
  --bs-btn-hover-bg: #F87171;
  --bs-btn-hover-border-color: #F87171;
  --bs-btn-hover-color: #111827;
  --bs-btn-active-color: #111827;
  --bs-btn-active-bg: #F87171;
  --bs-btn-active-border-color: #F87171;

}

.nav{
  --bs-nav-link-hover-color: #F87171;
}

.back{
  background-color: #FFFFFF;
  color: #111827;
}

.backblack{
  background-color: black;
  color: white;
}

.primary{
  background-color: #064E3B;
  color: #FFFFFF;
}

.primary-softer{
  background-color: rgb(6, 78, 59, 0.75);
  color: #FFFFFF;
}

.primary-soft{
  background-color: rgb(6, 78, 59, 0.5);
  color: #FFFFFF;
}

.secundary{
  background-color: #0d9488;
  color:#FFFFFF;
}

.secundary-softer{
  background-color: rgb(13, 148, 136, 0.75);
  color: #FFFFFF;
}

.secundary-soft{
  background-color: rgb(13, 148, 136, 0.5);
  color:#FFFFFF;
}


.accent{
  background-color: #F87171;
  color: #111827;;
}

.text-accent{
  color: #F87171;
}

.text-prim{
  color:#064E3B;
}

.text-sec{
  color: #0D9488;
}

